						<div id="quicktrack">
    						<h1>QuickTrack</h1>
    						<form>
    							<input type="text" placeholder="Enter Tracking Number" name="tracking_number" />
    							<input type="submit" value="Track" />
    						</form>
    					</div>
    					<div id="tracking">
    						<h1>Shipment Tracking</h1>
    						<p><a class="cbOpen" href="modals/ship-tracking.html">Choose the tracking method that works best for you!</a></p>
    						<a class="cbOpen" href="modals/ship-tracking.html"><img src="assets/img/ico_tracking.png" alt="Search Icon" /></a>
    					</div>
    					<div id="shipping">
    						<h1>Customer Shipping Center</h1>
    						<ul>
    							<li><a href="request-quote.shtml">Get a Quote <img src="assets/img/ico_calc.png" alt="Calculator Icon" /></a></li>
    							<li><a href="create-shipment.shtml">Create a Shipment<img src="assets/img/ico_boxes.png" alt="Shipment Icon" /></a></li>
    							<li><a href="schedule-pickup.shtml">Schedule a Pickup<img src="assets/img/ico_clock.png" alt="Pickup Icon" /></a></li>
    							<li><a href="times-coverage.shtml">Transit Times &amp; Coverage<img src="assets/img/ico_map.png" alt="Map Icon" /></a></li>
    							<li><a href="shipping-tools.shtml">Shipping Tools<img src="assets/img/ico_tools.png" alt="Tools Icon" /></a></li>
    							<li class="last-child"><a class="cbOpen" href="modals/transit-times.html">Instant Transit Time Lookup<img src="assets/img/ico_truck.png" alt="Truck Icon" /></a></li>
    						</ul>
    					</div>