						<div id="dapply">
    						<h1>Drivers Apply Now!</h1>
    						<p><a href="careers-apply.shtml">Become part of the Saia team</a></p>
    						<a href="careers-apply.shtml"><img src="assets/img/ico_dapply.png" alt="Search Icon" /></a>
    					</div>
    					<div id="returning">
							<h1>Returning Applicants</h1>
							<p><a class="cbOpen" href="modals/candidate-login.html">Login to apply for a new position or make changes</a></p>
    						<a class="cbOpen" href="modals/candidate-login.html"><img src="assets/img/img_laptop.png" alt="Laptop" /></a>
    					</div>
    					<div id="shipping">
    						<h1>Careers</h1>
    						<ul>
    							<li><a href="careers.shtml">Career Overview <img src="assets/img/ico_coverview.png" alt="Overview Icon" /></a></li>
    							<li><a href="careers-apply.shtml">Search Job Opportunities<img src="assets/img/ico_jsearch.png" alt="Job Search Icon" /></a></li>
    							<li><a href="careers-faq.shtml">Career FAQ<img src="assets/img/ico_cfaq.png" alt="FAQ Icon" /></a></li>
    							<li><a class="cbOpen" href="modals/tech-support.html">Technical Support<img src="assets/img/ico_support.png" alt="Support Icon" /></a></li>
    						</ul>
    					</div>