						<div id="newsBrief">
    						<h1>Saia News Brief</h1>
    						<ul>
    							<li><a href="news-releases.shtml">Saia announces new truckload division - find out more&hellip;</a></li>
    							<li><a href="news-releases.shtml">Saia Logistics is the new division specializing in coordinating all your transportation needs&hellip;</a></li>
    							<li><a href="news-releases.shtml">Saia Select allows you to pick the delivery time that best fits your needs find out more&hellip;</a></li>
    							<li><a href="news-releases.shtml">Saia’s new websites offer a better user experience&hellip;</a></li>
    							<li class="last-child"><a href="news-releases.shtml">Saia LTL Freight - the service that started it all&hellip;</a></li>
    						</ul>
    					</div>
						<div id="announcing">
    						<h1>Shipping Less Than a Full Load</h1>
    						<h2>Saia LTL Freight Has<br />the Solution</h2>
							<a href="../saia/index.shtml"><img src="assets/img/saia_ltl_freight.jpg" alt="App Image" /></a>
    					</div>